{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
<!doctype html>

{% block title %}Flasky{% endblock %}

{% block content %}
<p></p>
    <p>

    </p>
    <p></p>
    <h1>asdasda</h1>
<div class="container-fluid">
<div class="jumbotron">
<div class="centering text-center">
    <div class="align-content-lg-center">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div></div>
</div>
</div>

    <div class="container-fluid">
    <div class="row align-items-center">

<div class="col">
  <div class="col-sm-4 col-md-4 col-lg-4 offset-4">
    <div class="thumbnail">
        <i class="now-ui-icons business_globe"></i>
      <!-- <img data-src="holder.js/300x200" alt="..."> -->
      <div class="caption">
        <!--<h3>Thumbnail label</h3> -->

        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
      </div>
    </div>
  </div>
</div>


    <div class="col">
  <div class="col-sm-4 col-md-4 col-lg-4 offset-4">

    <div class="thumbnail">
      <i class="now-ui-icons ui-1_check"></i>
      <!-- <img data-src="holder.js/300x200" alt="..."> -->
      <div class="caption">
        <!--<h3>Thumbnail label</h3> -->
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
      </div>
    </div>
  </div>
</div>


    <div class="col">
  <div class="col-sm-4 col-md-4 col-lg-4 offset-4">
    <div class="thumbnail">
     <i class="now-ui-icons business_briefcase-24"></i>
      <!-- <img data-src="holder.js/300x200" alt="..."> -->
      <div class="caption">
        <!--<h3>Thumbnail label</h3> -->
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>


</div>


    <div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
      <div class="centering text-center">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
    </div>
<!-- <div class="row">
    <div class="col-xs-6 col-sm-3"><h1>.col-xs-6 .col-sm-3</h1></div>
  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>


  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
</div>-->

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}